{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
  <!-- header references -->
    {% include "includes/head_references.html" %}
    {% block title %} {% endblock %}
</head>

<body>
<!-- Topbar -->
{% include "includes/topbar.html" %}

{% block content %} {% endblock %}

<!-- Footer Start -->
{% include "includes/footer.html" %}
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


<!-- JavaScript Libraries -->
{% include "includes/footer_references.html" %}
</body>

</html>
